html, div {
    background: #90CAF9;
}
div{
    display: inline-block;
}
#source-container {
    position: relative;
}
#source {
    img {
        width: 200px;
        height: auto;
    }
}
#square {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.5);
    display: none;
}
#preview {
    background-image: url(assets/mushroom1.jpg);
    background-size: 1600px 1000px;
    background-position: 0 0;
    width: 400px;
    height: 400px;
    border: 1px solid pink;
    position: absolute;
    display: none;
    left: 300px;
}
  ul {
    margin-top: 50px;
    list-style: none;
    li {
        display: inline-block;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid black;
        img {
            width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
  }
